* {
  box-sizing: border-box;
}

body {
    color: white;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

h1 {
    margin: 0;
    font-size: 3rem;
}

.title {
    padding: 1em 3em;
    background-color: #136C72;
}

.wrapper {
    width: 80%;
    max-width: 850px;
    margin: 0 auto;
}

.title__content {
    width: 70%;
}



.btn {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50px;
    color: #23424A;
    font-size: 1.25rem;
    font-weight: 900;
    background-color: #38CFD9;
    padding: .75em 2em;
}